body{
    background-image: url("assets/lawn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial;
}
.container{
    width: 100vw;
    height: 100vh;
}
.row{
    height: 30%;
    width: 100%;
    text-align: center;
}
.column{
    height: 100%;
    width: 25%;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: auto;
}
.dirtpile{
    height: 80%;
    position: relative;
    margin: auto;
    top: 25%;
    z-index: 3;
    user-select: none;
}
.mole{
    height: 70%;
    position: absolute;
    top: 30%;
    left: 34%;
    transition-duration: .5s;
    z-index: 2;
    cursor: pointer;
}
.moleMover{
    position: absolute;
    top: 5%;
    left: 90%;
}
.statsHead{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 10%;
    color: white;
}
.statsNumber{
    position: absolute;
    top: 16%;
    left: 2%;
    color: white;
}
.noTouch {
    pointer-events: none;
}
.moveUp {
    transform: translateY(-40%);
}


.winModal{
    background-color:blue;
    text-align:center;

}
.modalBody {
    height: 200px;
    text-align: center;
}
.timerDisplay {
    width: 10%;
    position: absolute;
    left: 2%;
    top: 30%;
    color: white;
}

.timeLeft {
    position: absolute;
    left: 2%;
    top: 44%;
    color: white;
}